autostart/
compiz-1/
dconf/
enchant/
evolution/
gnome-control-center/
google-chrome/
gtk-2.0/
gtk-3.0/
hexchat/
ibus/
libaccounts-glib/
libreoffice/
menus/
mimeapps.list
monitors.xml
nautilus/
pulse/
spotify/
unity/
user-dirs.dirs
user-dirs.locale
Pinta/
eog/
gedit/
mono.addins/
